/data_generation/untitled/training_data/*
/data_generation/untitled/validation_data/*
/data_generation/untitled/training_data_regression/*
/output_classifier_models/
/output_regression_models/
/data_generation/untitled/training_data_classification/
/model_scores/
/data_generation/untitled/training_data_regression.zip
/data.db
/model_train_log
