/data_generation/untitled/training_data/*
/data_generation/untitled/validation_data/*
/data_generation/untitled/training_data_regression/*
/output_classifier_models/
/output_regression_models/
/data_generation/untitled/training_data_classification/
/model_scores/
/data_generation/untitled/training_data_regression.zip
/data.db
/model_train_log
/output_rl_models/
/rl_data.db
/output_rl_results/
/plots/
/output_genetic_models/
/table2latex.py
/model_train_log_20_tasks/
/model_train_log_50_tasks/
